
@import url(../Cesium/Build/Cesium/Widgets/widgets.css);

html, body, #cesiumContainer {
width: 100%; height: 100%; margin: 0; padding: 0; overflow: hidden;
}


.nav-bar {
    display: inline-block;
    left: 0px;
    top: 0px;
    position: absolute;
    height: 100%;
    width: 90px;
    padding-top: 0px;
    background-color: rgba(48, 51, 54,0.5);
    overflow: auto;
}


.nav-bar:hover {
    box-shadow: 20px 16px 20px 0px rgba(0, 0, 0, 0.5), 6px 20px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(48, 51, 54,1);
}


.bar-item{
    color: white;
    font-size: 3em;
    position: relative;
    width: inherit;
    height: 90px;
    border: 0px;
    border-bottom-width: 1px;
    border-bottom-color: white;
    border-style: solid;

}

.bar-info{

}

.bar-item:hover {
    background-color: #282828;
}

.big-icon {
    width: 100%;
    text-align: center;
    vertical-align: -webkit-baseline-middle;
}

.bar-menu{
    overflow: auto;
    background: #282828;
    -moz-box-shadow: 20px 16px 20px 0px rgba(0, 0, 0, 0.5), 6px 20px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 20px 16px 20px 0px rgba(0, 0, 0, 0.5), 6px 20px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 20px 16px 20px 0px rgba(0, 0, 0, 0.5), 6px 20px 20px 0 rgba(0, 0, 0, 0.19);
    height: 100%;
    width: 250px;
    top: 0;
    position: fixed;
    left: -400px;
    z-index: 1;
    transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -webkit-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -moz-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
    z-index: 9;
}

.bar-menu-close{
    position: absolute;
    top: 1px;
    right: 1px;
    text-align: right;
    font-size: 16px;
}

.bar-menu-title{
    font-size: inherit;
    margin: auto;
    height: 90px;
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    width: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-body{
    width : auto;
    font-size: 0.5em;
}

.settings-table{
    width: 100%;
}

.settings-table p{
    margin: 0px;
    margin-left: 20px;
}

.settings-table td{
    padding-bottom: 30px;
}

/*#magnitude-slider .slider-selection {*/
    /*background: blue;*/
/*}*/

.search-container{
    height: 117px;
    margin: 10px;
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    background-color: rgb(48, 51, 54);
    padding: 10px;
}

.slider-selection {
    background-image: none;
    background: blue;
}

#search-button{
    float: right;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 30px;
    width: 95px;
}

#reportrange{
    background: #fff;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    width: 100%;
    color: black;
    font-size: 12px;
    margin-bottom: 30px;
    margin-top: 10px;
}

#min-point, #max-point{
    width: 130px;
    margin-bottom: 20px;
}

.coordinate-input{
    width: 66px;
    float: left;
    margin-left: 20px;
    margin-bottom: 30px;
    font-size: 12px;
    height: 29px;
}

.coordinates-container{
    margin-top: 10px;
}
#slider-container{
    width: 100%;
    bottom: 0px;
    position: absolute;
    z-index: 9;
}

.coordinates-container p {
    float: left;
    width: 35px;
    font-size: 12px;
}

.min{
    float: left;
    width: 45px;
    text-align: left;
}

.max{
    float: right;
    width: 45px;
    height: 30px;
    text-align: right;
}

.slider-description{
    float: left;
    text-align: center;
    width: 120px;
}

.slider{
    width: 100% !important;
    margin-top : 10px;
}

#default-points-button{
    display: inline;
    width: 30px;
    margin: 0px;
    height: 30px;
    text-align: center;
    padding: 0px;
    float: right;
}

.settings-container{
    height: 110px;
    margin: 10px;
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    background-color: rgb(48, 51, 54);
    padding: 10px;
}

.settings-title {
    font-size: 18px;
    top: 0px;
    margin: 0px;
    margin-left: 5px;
}

.settings-description{
    width: 50%;
    float: left;
    height: 100%;
    font-size: 11px;
}

.settings-text{
    margin: 10px 5px 10px;
}

.pull-left{
    font-size: 12px;
    padding-top: 1px;
}

.menu-select-box{
    position: relative;
    top: 32px;
    float: right;
}

.menu-switch-box {
    position: relative;
    top: 32px;
    float: right;
}

.player{
    bottom: -400px;
    height: 50px;
    background-color: rgba(48, 51, 54,0.5);
    z-index: 1;
    transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -webkit-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -moz-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 50%;
}

#play-container, #stop-container{
    height: 100%;
    width: 50px;
    text-align: center;
    margin: 0px;
    float: left;
}


#play-button, #pause-button, #stop-button {
    background-color: transparent;
    border: 0px;
    font-size: 27px;
    position: relative;
    color: white;
}

#slider3{
    bottom: 81px;
}

#current-time, #max-time{
    color: white;
    float: right;
    position: relative;
    top: 15px;
    margin-right: 6px;
}

#time, #total-time{
    color: white;
    float: left;
    position: relative;
    top: 15px;
    margin-right: 4px;

}

.color{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, green, yellow, red);
    position: relative;
    border-radius: 25px;
    margin-left: 2%;
    margin-right: 2%;
}

.legend-container{
    width: 50%;
    bottom: 25px;
    height: 54px;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: rgba(48, 51, 54, 0.5);
    font-size: 12px;
    border-radius: 10px;
    transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -webkit-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -moz-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
}

.color-container{
    height: 30px;
    width: 100%;
    padding-right: 2%;
    padding-left: 2%;
    padding-top: 10px;
    display: flex;
}

#time{
    margin-left: 6px;
}

#speed-control{
    float: left;
    height: 50px;
    width: 24px;
    padding-left: 2px;
    color: white;
    padding-top: 14px;
    padding-bottom: 5px;
}

#speed-plus:hover{
    cursor: pointer;
}

.leggend-text{
    color: white;
    position: absolute;
    display: inline-table;
    top: 23px;
    margin-top: 2px;
}

#arrow-color-right{
    font-size: 20px;
    color: white;
    padding-top: 1px;
}

#arrow-color-right:hover{
    color: black;
}

#arrow-color-left:hover{
    color: black;
}

#arrow-color-left{
    font-size: 20px;
    color: white;
    padding-top: 1px;
}

#arrow-footer-up {
    font-size: 20px;
    color: white;
    padding-top: 1px;
    left: 50%;
    position: relative;
    transform: translate(-50%, 0%);
}



#footer-switch{
    width: 80px;
    bottom: -25px;
    height: 46px;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: rgba(48, 51, 54, 0.5);
    font-size: 12px;
    border-radius: 100%;
    z-index: 9;
}

#footer-switch:hover{
    background-color: rgba(48, 51, 54, 1);
}

.cesium-widget-credits{
    position: relative;
}

.earthquake-info{
    position: absolute;
    right: -400px;
    top: 100px;
    color: white;
    overflow: auto;
    height: 65%;
    transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -webkit-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -moz-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
    background-color: rgba(48, 51, 54, 0.5);
    border-radius: 20px;

}

.earthquake-info-card{
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    background-color: rgba(48, 51, 54, 0.5);
    margin: 12px;
    border-radius: 20px;
    width: 272px;
}


.earthquake-info-card:hover{
    background-color: rgba(48, 51, 54, 0.8);
}

.cesium-baseLayerPicker-dropDown{
    z-index: 9;
}

.earthquake-info-header{
    width: 100%;
    height: 30px;
}

.earthquake-info-id{
    float : left;
}

.earthquake-info-button{
    float: right;
    margin-left: 10px;
}

.earthquake-info-button:hover{
    color : black;
}

.earthquake-info-card tbody th {
    padding: 5px;
}









